importFrom("graphics", "abline", "lines")
importFrom("stats", "quantile", "qnorm", "rexp", "sd", "integrate", "runif", "uniroot")
importFrom("progress", "progress_bar")
export(npcox)
export(spcox)
export(npsimu)
export(npplot)
export(bandselect)